*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  display:flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-sec{
  width:fit-content;
  height: 20%;
  border-radius: 20px;
  padding:2rem;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 5px solid pink;
  box-shadow: 2px 2px 4px gray;
}
.name{
  margin-bottom: 2rem;
}
.edu-sec{
  width: 100%;
  margin: 0 1.2rem ;
  padding:0 1rem;
  
}
.info{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  margin-top:1.2rem;
}

.sec{
  padding: 5px 2rem;
  background-color: darkRed;
  color: pink;
  display: grid;
  margin: 0 0 2rem;
  place-items: center;
  border-radius: 20px;
  
}